/* Footer */
.footer {
  height: 3rem;
  min-height: 3rem;
  background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), linear-gradient(to right top, #0066ff, #345aff, #534bff, #6e36ff, #8700ff);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.08);
}