/* Header */
.navigation {
  background-color: #3d1471;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}
