<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>API Test</title>
	{% load static %}
</head>
<body>
	<div id="root">

		<h1>If you are seeing this then the backend properly serves templates as well.</h1>
		<h2><a href="http://127.0.0.1:8000/home">click here</a> to go back to the frontend.</h2>

	</div>

	{% else %}
      	<script type="module" src="{% static 'assets/index.js' %}"></script>
      	<link rel="stylesheet" href="{% static 'assets/index.css' %}">
    {% endif %}
</body>
</html>